
.contain{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url('../img/j-lee-FguFp1l5X0E-unsplash.jpg');
	background-size:cover;
	position: relative;
    background-position:center;
   -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  margin: 40px;


}


html,body {
	height: 100%;
	font-size: 100%;
	font-family: "Open Sans", helvetica, arial, sans-serif;
	color: rgb(0, 0, 0);
}

.middle img{
position: relative;
top: 280px;
left: 200px;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.2);
  transition: 4s;
}
.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: top;
	\*backdrop-filter: blur(100px) ;*\
	height: 80%;

}

.prod{
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.9) 0px 10px 30px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
	position: relative;top:80%;overflow: auto;
	max-height: auto;
}

.box{width: 100%;
	box-shadow: rgba(0, 0, 0, 0.9) 0px 10px 30px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
position:relative;top:80%;height:auto; margin-bottom:-180px;
}

a {
	font-weight: bold;
	color: #FFF;
}
a:hover {
	text-decoration: underline;
	color: #FFF;
}

p{
	 border: 0; 
	 font-size: 100%; 
	 font: inherit; 
}

.leftbody{
	width: 30%; float: left;position: relative;top:70%;margin-left: 30px;min-height: 50px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;padding: 10px;;
}
